@import "tailwindcss";

@theme {
  --color-primary: #121527;
  --color-highlight-red: #c1272d;
  --color-highlight-gold: #B8860B;
  --color-highlight-white: #ffffff;
}


/* Estilos para el buscador */
:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--color-highlight-red);
  --pagefind-ui-text: var(--color-primary);
  --pagefind-ui-background: var(--color-highlight-white);
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 12px;
  --pagefind-ui-image-border-radius: 0.5rem;
  --pagefind-ui-image-box-ratio: 1 / 1; 
  --pagefind-ui-font: 'Inter', sans-serif;
}

#search {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 8px;
}

.pagefind-ui__search-input {
  color: var(--color-primary) !important;
  width: 80% !important;
  border-radius: 0.5rem !important;
  padding: 4px 6px;
}

.pagefind-ui__search-input:focus {
  outline: none !important;
  border: 0.5px solid var(--color-primary) !important;
}

.pagefind-ui__search-clear {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary);
  margin-left: 8px;
}

.pagefind-ui__message {
  margin-top: 8px;
  color: var(--color-highlight-red);
  font-size: 14px;
  font-weight: 300;
}

.pagefind-ui__result {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.pagefind-ui__result-image {
  max-width: 150px !important;
  width: 150px;
  height: 80px;
  border-radius: 0.5rem;
  object-fit: cover;
  flex-shrink: 0;
}

.pagefind-ui__result-content {
  flex: 1;
}

.pagefind-ui__result-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

.pagefind-ui__result-excerpt {
  display: none !important;
}

.pagefind-ui__result-tags {
  display: flex;
  flex-direction: column-reverse;
}

/* Estilos para la paginación y navegación del Slider de Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  font-weight: bold !important;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  font-weight: bold !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
