---
import Layout from "../layouts/Layout.astro";
import { Form } from "../components/Form";
---

<Layout title="Contacto">
  <section class="m-auto max-w-[1180px] 2xl:max-w-[1280px] mt-36 px-6">
    <div
      class="flex flex-col md:flex-row items-stretch bg-[#f9f9f9] rounded-lg overflow-hidden"
    >
      <div class="p-6 sm:p-10 w-full md:w-1/2">
        <h2 class="text-2xl sm:text-3xl font-bold text-center text-primary">
          Ponete en contacto
        </h2>
        <p class="text-base sm:text-lg mb-4 text-center text-primary">
          Escríbeme y te responderé
        </p>
        <Form client:load />
      </div>
      <div class="relative w-full md:w-1/2 min-h-[400px] md:min-h-[600px]">
        <div
          class="absolute inset-0 bg-cover bg-center bg-no-repeat"
          style={`background-image: linear-gradient(rgba(18, 21, 39, 0.3), rgba(18, 21, 39, 0.95)), url('/ingrid-bergman-and-cary-grant.png')`}
        >
        </div>
        <span class="absolute bottom-2 right-4 text-highlight-white z-10 text-sm sm:text-base">
          - <strong>Ingrid Bergman</strong> y <strong>Cary Grant</strong> "Indiscreet" (1958)
        </span>
      </div>
    </div>
  </section>
</Layout>
