---
import type { CategoryWithPosts } from "../types/categoryWithPosts";
import Card from "./Card.astro";

interface Props {
  categoriesWithPosts: CategoryWithPosts[];
}

const { categoriesWithPosts } = Astro.props;
---

{
  categoriesWithPosts.map((category) => (
    <section class="flex flex-col items-center lg:mt-24 mt-12 w-full mb-4">
      <h2 class="text-3xl lg:text-4xl font-bold text-center mb-4">
        {category.title}
      </h2>

      <div class="w-full h-1 bg-gradient-to-l from-[var(--color-highlight-gold)] via-[var(--color-highlight-gold)] to-transparent rounded-full" />
      <div class="w-full h-1 bg-highlight-white" />
      <div class="w-full h-1 bg-gradient-to-l from-[var(--color-highlight-red)] via-[var(--color-highlight-red)] to-transparent rounded-full mb-8" />

      <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
        {category.posts.map((post) => (
          <Card post={post} />
        ))}
      </div>

      <a href={`/categoria/${category.slug.current}`} class="mt-6">
        <span class="text-highlight-white text-lg font-semibold py-2 px-4 border-2 bg-highlight-gold rounded-md hover:bg-highlight-red  hover:text-highlight-white transition-all duration-300 ease-in-out">
          Otras notas
        </span>
      </a>
    </section>
  ))
}