---
// LatestPosts.astro
import type { Post } from "../types/post";

interface Props {
  latestPosts: Post[];
}

const { latestPosts } = Astro.props;
---

<aside class="p-10 mx-auto bg-[#f9f9f9] rounded-md max-w-[540px]">
  <h2 class="text-3xl text-center font-semibold mb-12">Últimos Artículos</h2>
  <ol class="list-none space-y-16 relative">
    {latestPosts.map((post, index) => (
      <li class="relative pl-8 border-b-2 pb-2 border-b-primary">
        <span class="absolute text-[6rem] font-black outlined-number top-[-3rem] left-[0rem] z-0 leading-none pointer-events-none select-none">
          {index + 1}
        </span>
        <a
          href={`/post/${post.slug.current}`}
          class="relative z-10 text-xl font-semibold block text-primary hover:text-[#c1272d] transition-colors duration-300"
        >
          {post.title}
        </a>
      </li>
    ))}
  </ol>
</aside>

<style>
  .outlined-number {
    color: transparent;
    -webkit-text-stroke: 2px #c1272d;
    opacity: 0.4;
  }
</style>



