---
// TopTags.astro
import type { Tag } from "../types/tag";

interface Props {
  tags: Tag[]; // Este es el array de tags que te devuelve la función getTopTags
}

const { tags } = Astro.props;
---

<aside class="p-10 mx-auto bg-[#f9f9f9] rounded-lg mt-8">
  <h2 class="text-3xl text-center font-semibold mb-12">Temas Populares</h2>
  <ul class="list-none space-y-4">
    {tags.map((tag) => (
      <li>
        <a
          href={`/tag/${tag.slug.current}`}
          class="text-xl font-semibold text-primary hover:text-[#c1272d] transition-colors duration-300"
        >
          # {tag.title} <span class="text-highlight-gold font-normal">({tag.postCount})</span>
        </a>
      </li>
    ))}
  </ul>
</aside>
