---
import { getCategories } from "../utils/database";

const categories = await getCategories();
---

<div class="w-full h-1 mt-12 bg-highlight-white"></div> 
<div class="w-full h-1 bg-gradient-to-l from-[var(--color-highlight-red)] via-[var(--color-highlight-red)] to-transparent"></div> 
<div class="w-full h-1 bg-highlight-white"></div> 
<div class="w-full h-2 bg-gradient-to-l from-[var(--color-highlight-gold)] via-[var(--color-highlight-gold)] to-transparent"></div> 

<footer
  class="w-full h-auto md:h-80 flex flex-col lg:flex-row bg-primary text-highlight-white"
>
  <div
    class="w-full lg:w-3/5 bg-primary flex flex-col md:flex-row items-center md:items-start justify-around lg:justify-between pt-10 lg:pl-4 pb-4 xl:justify-around"
  >
    <div class="flex flex-col h-full justify-between">
      <div class="flex flex-col items-center md:items-start mb-9">
        <a href="/">
          <h2 class="text-highlight-gold text-4xl font-bold">
            Los olvidos de Cronos
          </h2>
        </a>
        <h3 class="text-lg mt-4 mb-4">Podes seguirme en redes (si querés):</h3>
        <ul class="flex justify-start gap-6">
          <li class="w-6 mt-1">
            <a href="https://www.instagram.com/romanganuza/" target="_blank">
              <img src="/social_media_instagram.svg" alt="Instagram" />
            </a>
          </li>
          <li class="w-6 mt-1">
            <a href="https://www.facebook.com/roman.ganuza.98" target="_blank">
              <img src="/social_media_facebook.svg" alt="Facebook" />
            </a>
          </li>
          <li class="w-8">
            <a href="mailto:romanganuza@gmail.com" target="_blank">
              <img src="/social_media_email.svg" alt="Email" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <h3 class="text-2xl font-bold">Categorías</h3>
      <ul class="flex flex-col pt-2 space-y-3">
        {
          categories.map((category) => (
            <li class="w-full">
              <a
                href={`/categoria/${category.slug.current}`}
                class="block w-full whitespace-nowrap font-semibold text-highlight-white hover:text-highlight-red transition duration-200"
              >
                {category.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div class="div-image hidden w-full lg:block lg:w-2/5"></div>


</footer>
<div class="w-full bg-primary border-t-2 border-highlight-gold">
  <div class="container mx-auto py-2 flex flex-col md:flex-row justify-between items-center gap-2 md:gap-0">
    
    <!-- Texto de copyright -->
    <div class="text-highlight-white text-xs text-center md:text-left">
      © 2025 | Los Olvidos de Cronos: Todos los derechos reservados
    </div>

    <!-- Logo + enlace -->
    <div class="text-highlight-white text-xs flex items-center">
      <a href="https://www.meridiano65.com" target="_blank" rel="noopener noreferrer" class="flex items-center hover:opacity-80 transition">
        <img src="/logo-blanco.svg" alt="Meridiano 65" class="w-8 h-auto mr-2" />
        Meridiano 65 | Diseño y Desarrollo web
      </a>
    </div>
  </div>
</div>


<style>
  .div-image {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 75% 100%);
    background-image: url("/ingrid-bergman.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
  }
</style>
