---
import MobileMenu from '../components/MobileMenu';
import { getCategories } from '../utils/sanity';

const categories = await getCategories()
---


<header class="fixed top-0 left-0 w-full z-50 bg-primary  shadow transition-transform duration-300" id="site-header">
  
  <div class="container mx-auto flex items-center justify-between px-4 py-4
   bg-primary">
    <!-- Nombre del sitio -->
     <a href="/">
      <h1 class="text-2xl font-bold text-highlight-gold">Los olvidos de Cronos</h1>
     </a>
    <!-- Menú Desktop -->
    <nav class="hidden md:flex space-x-6 items-center text-highlight-white">
      <div class="relative group">
        <button class="flex items-center gap-1 hover:text-highlight-red">
          Categorías
          <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </button>
        <div class="absolute left-0 top-full bg-white shadow-md mt-2 hidden group-hover:block w-80">
          <ul class="flex flex-col p-2 space-y-2">
            {
              categories.map((category) => (
                <li class="w-full">
                  <a
                    href={`/categoria/${category.slug.current}`}
                    class="block w-full whitespace-nowrap text-primary hover:text-highlight-red"
                  >
                    {category.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <a href="/contacto" class="hover:text-highlight-red">Contacto</a>
      <a href="/sobre-mi" class="hover:text-highlight-red">Sobre mí</a>
    </nav>

    <!-- Menú Mobile -->
    <div class="md:hidden">
      <MobileMenu />
    </div>
  </div>
  
  <div id="header-lines" class="transition-all duration-300">
    <div class="w-full h-2 bg-highlight-gold" />
    <div class="w-full h-1 bg-highlight-white" />
    <div class="w-full h-1 bg-highlight-red" />
  </div>
  <div class="w-full h-1  bg-highlight-white" />
</header>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const headerLines = document.getElementById('header-lines');

    if (!headerLines) return;

    window.addEventListener('scroll', () => {
      if (window.scrollY > 50) {
        headerLines.classList.add('opacity-0', 'h-0', 'overflow-hidden');
      } else {
        headerLines.classList.remove('opacity-0', 'h-0', 'overflow-hidden');
      }
    });
  });
</script>
