---
import { getPostsGroupedByCategory } from "../utils/database";

import CardGrid from "../components/CardGrid.astro";
import CardGridTwo from "../components/CardGridTwo.astro";

const categoriesWithPosts = await getPostsGroupedByCategory();
---

<section class="w-full lg:w-2/3">
  <CardGridTwo categoriesWithPosts={categoriesWithPosts} />
</section>
