---
import { getPostsGroupedByCategory } from "../utils/database";

import CardGrid from "../components/CardGrid.astro";

const categoriesWithPosts = await getPostsGroupedByCategory();
---

<main class="w-full lg:w-2/3">
  <CardGrid categoriesWithPosts={categoriesWithPosts} />
</main>
