---
import MobileMenu from '../components/navbar/MobileMenu';
import ScrollHideHeader from '../components/navbar/ScrollHideHeader';
import DesktopCategoriesMenu from '../components/navbar/DesktopCategoriesMenu';
import { getCategories } from '../utils/sanity';

const categories = await getCategories();
---

<ScrollHideHeader client:load />

<header class="fixed top-0 left-0 w-full z-50 bg-primary shadow transition-transform duration-300" id="site-header">
  <div class="container mx-auto flex items-center justify-between px-4 py-4 bg-primary">
    <a href="/">
      <h1 class="text-2xl font-bold text-highlight-gold">Los olvidos de Cronos</h1>
    </a>

    <!-- Menú Desktop -->
    <nav class="hidden md:flex space-x-6 items-center text-highlight-white">
      <DesktopCategoriesMenu client:load categories={categories} />
      <a href="/contacto" class="text-highlight-white hover:text-highlight-gold transition-all duration-200">Contacto</a>
      <a href="/sobre-mi" class="text-highlight-white hover:text-highlight-gold transition-all duration-200">Sobre mí</a>
    </nav>

    <!-- Menú Mobile -->
    <div class="md:hidden">
      <MobileMenu client:load categories={categories} />
    </div>
  </div>

  <div class="w-full h-2 bg-highlight-gold" />
  <div id="header-lines" class="transition-all duration-300">
    <div class="w-full h-1 bg-highlight-white" />
    <div class="w-full h-1 bg-highlight-red" />
    <div class="w-full h-1 bg-highlight-white" />
  </div>
</header>
