---
import BaseLayout from "./BaseLayout.astro";
import NavbarSection from "../sections/NavbarSection.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<BaseLayout title={title} description={description} image={image}>
  

  <NavbarSection />
  <main class="m-auto max-w-[1180px] 2xl:max-w-[1280px]">
    <slot />
  </main>

  <script is:inline>
    window.addEventListener("DOMContentLoaded", () => {
      const headerLines = document.getElementById("header-lines");

      if (!headerLines) return;

      window.addEventListener("scroll", () => {
        if (window.scrollY > 50) {
          headerLines.classList.add("opacity-0", "h-0", "overflow-hidden");
        } else {
          headerLines.classList.remove("opacity-0", "h-0", "overflow-hidden");
        }
      });
    });
  </script>
</BaseLayout>

